#tray,
#clock,
#battery,
#network,
#pulseaudio,
#cpu,
#memory,
#bluetooth,
#backlight,
#custom-power,
#custom-power-btn,
#custom-mic,
#custom-dnd,
#custom-hyprsunset {
  padding: 0 10px;
}

#custom-power-btn,
#custom-hyprsunset {
  font-size: 20px;
}

#bluetooth {
  font-size: 16px;
}

#custom-dnd {
  font-size: 18px;
}
