/* BATTERY STATES */
#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  color: @green;
}

#battery.full {
  color: @green;
}

/* CUSTOM HYPRSUNSET STATES */
#custom-hyprsunset.enabled {
  color: @peach;
}

#custom-hyprsunset.disabled {
  color: @overlay0;
}

/* AUDIO & MICROPHONE STATES */
#pulseaudio.muted {
  color: @red;
}

#pulseaudio.microphone.muted {
  color: @red;
}

/* BLUETOOTH STATES */
#bluetooth.disabled,
#bluetooth.off {
  color: @overlay0;
}

#bluetooth.on {
  color: @blue;
}

#bluetooth.connected {
  color: @green;
}

#bluetooth.discoverable,
#bluetooth.pairable {
  color: @peach;
}

#bluetooth.discovering {
  color: @sapphire;
}

/* DND STATES */
#custom-dnd.enabled {
  color: @red;
}

#custom-dnd.disabled {
  color: @overlay0;
}

/* BLINK ANIMATION */
@keyframes blink {
  to {
    background-color: @red;
    color: @base;
  }
}
