#battery.warning {
  color: rgb(255, 193, 6);
}

#battery.critical {
  color: red;
}

#battery.charging {
  color: #096d00;
}

#battery.full {
  color: #0060f9;
}

#network.wifi {
  color: #89b4fa;
}

#network.ethernet {
  color: #a6e3a1;
}

#custom-hyprsunset.enabled {
  color: #f5c27a;
}

#custom-hyprsunset.disabled {
  color: #7f8c8d;
}

#custom-mic.enabled {
  font-size: 18px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
}

#custom-mic.disabled {
  font-size: 22px;
  color: rgb(255, 0, 0);
}

/* BLUETOOTH */
#bluetooth.disabled,
#bluetooth.off {
  color: #5c5c5c;
}

#bluetooth.on {
  color: #89b4fa;
}

#bluetooth.connected {
  color: #a6e3a1;
}

#bluetooth.discoverable,
#bluetooth.pairable {
  color: #f5c27a;
}

#bluetooth.discovering {
  color: #fab387;
}

/* PULSE AUDIO */
#pulseaudio.muted {
  font-size: 22px;
  color: rgb(255, 0, 0);
}

/* CUSTOM DND */
#custom-dnd.enabled {
  color: #f38ba8;
}

#custom-dnd.disabled {
  color: #a6e3a1;
}
