* {
  font-family: "JetBrainsMono Nerd Font Mono", monospace;
  font-size: 12px;
}

window#waybar {
  background: rgba(15, 15, 15, 0.85);
  color: #e5e5e5;
  border-radius: 0px;
  margin: 6px;
}

#workspaces button {
  padding: 0 6px;
  margin: 4px 2px;
  border-radius: 6px;
  background: transparent;
  color: #888;
}

#workspaces button.active {
  background: #89b4fa;
  color: #111;
}

#tray,
#clock,
#battery,
#network,
#pulseaudio,
#cpu,
#memory,
#bluetooth,
#backlight,
#custom-power,
#custom-power-btn,
#custom-mic {
  padding: 0 10px;
}

#battery.warning { color: rgb(255, 193, 6); }
#battery.critical { color: red; }
#battery.charging { color: #096d00; }
#battery.full { color: #0060f9; }

#bluetooth {
  font-size: 14px
}

#custom-mic, #custom-power-btn {
  font-size: 20px
}

#network.wifi {
  color: #89b4fa;
}

#network.ethernet {
  color: #a6e3a1;
}
